.container {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #dee6e8;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;

  margin-bottom: 30px;
}
.country ul {
  border-radius: 10px;
  border: 2px solid gray;
  width: 80%;
  height: 50px;
  margin-top: 20px;
}
.country li {
  margin-top: 5px;
}
.container img {
  width: 70%;

  margin-left: 20%;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 799px) {
  .container {
    width: 90%;
  }
} 
@media only screen and (min-width: 800px) {
  .container{
    width: 30%;
  }
} 
